html {
    font-family: sans-serif;
    background-color: rgb(42, 42, 42);
}
* {
    margin: 0;
    padding: 0;
}

#container {
    width: 600px;
    height: 700px;
    background-color: rgb(160, 105, 4);
    border: 2px solid rgb(0, 0, 0);
    margin: auto;
    margin-top: 40px;
}

#player {
    width: 40px;
    height: 40px;
    background-color: red;
    border: 1px solid black;
    margin: auto;
}

#score {
    text-align: center;
    margin: auto;
}
#timer {
    text-align: center;
    font-size: 40px;
}